/**/.git
/**/.idea
/**/vendor
/**/node_modules
/**/package-lock.json
/**/build
/**/out
/**/.next

/.pnp
.pnp.*
.yarn/*
.DS_Store
*.pem
npm-debug.log*
.pnpm-debug.log*
.env*
*.tsbuildinfo
next-env.d.ts
